<h3>About</h3>
<p>This is the website for general Ridlen news, maintained by <a href="http://phillipridlen.com">Phillip</a>. If you have news you'd like to share, please <a href="mailto:phillip@ridlen.net">contact him</a>.

<h3>Services</h3>
<ul>
  <li><a href="http://mail.ridlen.net">Email</a></li>
  <li><a href="http://calendar.ridlen.net">Calendar</a></li>
  <li><a href="http://start.ridlen.net">Start Page</a></li>
</ul>

<h3>Accounts</h3>
If you'd like a Ridlen.net account (works like a Gmail/Google account), please <a href="mailto:phillip@ridlen.net">contact Phillip</a> and he will get you added into the system.
